spring:
  application:
    name: agent
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      chat:
        options:
          model: qwen-max-latest
          temperature: 0.7
      embedding:
        options:
          model: text-embedding-v4
#        base-url: https://dashscope.aliyuncs.com/compatible-mode
    vectorstore:
      pinecone:
        api-key: ${PINECONE_API_KEY}
        index-name: spring-ai
        store:
          topK: 3  # 默认检索 Top 3 相关文档
          similarityThreshold: 0.7  # 相似度阈值（过滤低相关文档）
#    chat-memory:
#      jdbc
#        enabled: false  # 禁用 Spring AI 的 JDBC 聊天记忆功能

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://localhost:3306/agent?useSSL=true&serverTimezone=Asia/Shanghai&characterEncoding=utf-8&useUnicode=true&allowPublicKeyRetrieval=false&rewriteBatchedStatements=true&lower_case_table_names=1
    username: root  # 你的 MySQL 用户名
    password: root  # 你的 MySQL 密码
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
#  sql:
#    init:
#      mode:   # 启用SQL脚本初始化
#      platform: mysql
#      schema-locations: classpath:org/springframework/ai/chat/memory/repository/jdbc/schema-mysql.sql
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true